<mat-card [formGroup]="form">
  <mat-card-header>
    Вход
  </mat-card-header>

  <mat-card-content>
    <mat-form-field class="example-full-width">
      <mat-label>Логин</mat-label>
      <input matInput
             type="text"
             formControlName="username">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Пароль</mat-label>
      <input matInput
             type="password"
             formControlName="password">
    </mat-form-field>
    <button mat-raised-button
            color="primary"
            (click)="login()">
      Войти
    </button>
  </mat-card-content>

  <mat-card-content *ngIf="error">
    <mat-card-title>У вас нет доступа</mat-card-title>
  </mat-card-content>
</mat-card>
