<mat-toolbar color="primary">
  <div class="menu">
    @for (menuItem of menu;track menuItem) {
      <a mat-button
         [routerLink]="menuItem.link"
         routerLinkActive="mat-mdc-unelevated-button">
        {{ menuItem.title }}
      </a>
    }
  </div>

  @if (user | ngrxPush; as u) {
    <button mat-button
            [matMenuTriggerFor]="menu">
      {{ u.username }}
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['profile/' + u.id]">Профиль</button>
      <button mat-menu-item (click)="logout()">Выйти</button>
    </mat-menu>
  }
</mat-toolbar>

<app-breadcrumbs></app-breadcrumbs>

<div class="layout-container">
  <router-outlet />
</div>
