<h2>Профиль</h2>

<div [formGroup]="form">
  <mat-card>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input matInput type="text" formControlName="username">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input matInput type="text" formControlName="first_name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Фамилия</mat-label>
        <input matInput type="text" formControlName="last_name">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Город</mat-label>
        <mat-select formControlName="area_id">
          @for (region of regions;track region) {
            <mat-option [value]="region.id">
              {{ region.name }}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Дата рождения</mat-label>
        <input matInput
               [matDatepicker]="picker"
               formControlName="date_of_birth">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button
              color="primary"
              [disabled]="form.invalid"
              (click)="submit()">
        Сохранить
      </button>
    </mat-card-content>
  </mat-card>
</div>
